mat-grid-tile {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  mat-icon {
    margin-right: 8px;
  }
  
  .loading-container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }
  