<div class="globe-container">
    <div class="legend">
      <div><span class="color-box" style="background: linear-gradient(to right, orange, red);"></span> Drought</div>
      <div><span class="color-box" style="background: #FFD700;"></span> Flood</div>
      <div><span class="color-box" style="background: #A9A9A9;"></span> Landslide</div>
      <div><span class="color-box" style="background: #1E90FF;"></span> Storm</div>
      <div><span class="color-box" style="background: #228B22;"></span> Wildfire</div>
    </div>
  
    <div id="disasterGlobe" class="globe"></div>
  </div>
  