.globe-container {
  position: relative;
  overflow: hidden;
  top: 20px;
}

.legend {
  position: absolute;
  top: 640px; /* Adjusted to be closer to the top */
  left: 50%; /* Centers the legend horizontally */
  transform: translateX(-50%); /* Corrects the center alignment */
  background: linear-gradient(0deg, #000000 0%, #212125 100%); 
  color: var(--gray-200);
  padding: 12px;
  border-radius: 8px;
  font-size: 13px;
  width: 320px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.2);
  z-index: 999; /* Ensure the legend is above other elements */
}

.legend-title {
  font-weight: bold;
  margin-bottom: 6px;
  text-align: center;
}

.gradient-bar {
  height: 14px;
  width: 100%;
  border: 1px solid #555;
  margin: 6px 0;
}

.legend-labels {
  display: flex;
  justify-content: space-between;
  font-size: 12px;
}
