<div class="globe-container">
    <!-- Legend dynamically generated based on indicator type -->
    <div class="legend">
      <!-- Display the title and subtitle -->
      <h4 style="margin-bottom: 0; margin-top: 0;">{{ generateLegend().title }}</h4>
      <p style="margin-top: 0;">{{ generateLegend().subtitle }}</p>
  
      <!-- Display the color boxes for the legend items -->
      <div *ngFor="let legend of generateLegend().legendItems">
        <span class="color-box" [style.background]="legend.color"></span> {{ legend.label }}
      </div>
    </div>
  
    <div id="forestGlobe" class="globe"></div>
  </div>
  