.table-container {
  height: 400px;
  overflow: auto;
  width: 100%; /* Ensure full width */
}

table {
  table-layout: fixed; /* Prevent table from resizing based on content */
  width: 100%; /* Ensure table takes full width */
}

.mat-column-id {
  border-right: 1px solid currentColor;
}

.mat-mdc-form-field {
  font-size: 14px;
  width: 100%;

}

.mat-mdc-row .mat-mdc-cell {
  border-bottom: 1px solid transparent;
  border-top: 1px solid transparent;
  cursor: pointer;
}

.mat-mdc-row:hover .mat-mdc-cell {
  border-color: currentColor;
  font-weight: bold;
}

td, th {
  overflow: hidden; /* Hide overflowed text */
  text-overflow: ellipsis; /* Show ellipsis for overflowed text */
  white-space: nowrap; /* Prevent text wrapping */
}

.id-column {
  width: 14%; 
}

.name-column {
  width: 30%;
}

.country-filter {
  margin-bottom: -20px;
  border-radius: 0 !important;
  overflow: auto;
  width: 100%; /* Ensure full width */

}

.text-blue {
  color: green; /* Blue color for positive change */
}

.text-red {
  color: red; /* Red color for negative change */
}

.rate-change-container {
  display: flex;
  align-items: center; /* Align items vertically */
}

.small-icon {
  font-size: 22px; /* Adjust the icon size */
  margin-right: 5px; /* Optional: Add some space between the icon and the value */
}

