<!-- navbar.component.html -->
<nav class="navbar">
    <div class="navbar-container">
      <ul class="nav">
        <li class="dropdown">
          <a href="#">GDP Losses</a>
          <ul class="dropdown-menu">
            <li><a routerLink="/income-loss" (click)="changeApiType('income-loss')">Income Loss</a></li>
          </ul>
        </li>
        <li class="dropdown">
          <a href="#">Greenhouse Emissions</a>
          <ul class="dropdown-menu">
            <li> <a routerLink="/greenhouse-emissions" (click)="changeApiType('greenhouse-emissions')">Carbon Footprints</a></li>
          </ul>
        </li>
        <li class="dropdown">
          <a>Adaptation</a>
          <ul class="dropdown-menu">
            <li>
              <a routerLink]="/climate-disasters" (click)="changeApiType('climate-disasters')">
                Climate-related Disasters
              </a>
            </li>
          </ul>
        </li>
        
        <li class="dropdown">
          <a href="#">Mitigation</a>
          <ul class="dropdown-menu">
            <li><a routerLink="/renewable-energy" (click)="changeApiType('renewable-energy')">Renewable Energy</a></li>
            <li><a routerLink="/forest-carbon" (click)="changeApiType('forest-carbon')">Forest and Carbon</a></li>
          </ul>
        </li>
      </ul>
    </div>
  </nav>
