<!-- navbar.component.html -->
<nav class="navbar">
    <div class="navbar-container">
      <ul class="nav">
        <li class="dropdown">
          <a href="#">GDP Losses and Benefits</a>
          <ul class="dropdown-menu">
            <li><a routerLink="/income-loss" (click)="changeApiType('income-loss')">Income Loss</a></li>
          </ul>
        </li>
        <li class="dropdown">
          <a href="#">Greenhouse Emissions</a>
          <ul class="dropdown-menu">
            <li><a href="https://climatedata.imf.org/pages/greenhouse-gas-emissions#gg4" target="_blank">Carbon Footprints</a></li>
          </ul>
        </li>
        <li class="dropdown">
          <a href="#">Adaptation</a>
          <ul class="dropdown-menu">
            <li><a href="https://climatedata.imf.org/pages/adaptation#ad1" target="_blank">Climate-related Disasters</a></li>
          </ul>
        </li>
        <li class="dropdown">
          <a href="#">Climate and Weather</a>
          <ul class="dropdown-menu">
            <li><a href="https://climatedata.imf.org/pages/climate-and-weather#cc1" target="_blank">Annual Surface Temperature Change</a></li>
            <li><a href="https://climatedata.imf.org/pages/climate-and-weather#cc3" target="_blank">Change in Mean Sea Levels</a></li>
          </ul>
        </li>
        <li class="dropdown">
          <a href="#">Mitigation</a>
          <ul class="dropdown-menu">
            <li><a routerLink="/renewable-energy" (click)="changeApiType('renewable-energy')">Renewable Energy</a></li>
            <li><a href="https://climatedata.imf.org/pages/mitigation#mi6" target="_blank">Forest and Carbon</a></li>
          </ul>
        </li>
      </ul>
    </div>
  </nav>
