.container {
  width: 100%;
  height: 100vh;
  display: flex;

}

.sidenav {
  background-color: #0f0101;
  color: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
  transition: width 0.3s ease;
}

.sidenav-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 4px;
    background-color: #0f0101;
}

.toggle-btn {
  color: #f20808;
}

form {
  width: 90%;
}

.custom-form-field {
  width: 100%;
  margin-bottom: 16px;
}

.custom-form-field .mat-form-field-outline {
  border-color: #6200ea;
}

.custom-form-field .mat-form-field-label {
  color: #6200ea;
}

.custom-form-field .mat-select-arrow {
  color: #6200ea;
}


mat-drawer-container {
  display: flex;
  flex-direction: row;
  height: 100%;
}

mat-drawer {
  border-radius: 0%;
}

mat-form-field {
  width: 100%;
}

mat-slider {
  width: 400px;
}


