<!-- Sidebar html -->
<mat-drawer-container class="container">
  <mat-drawer
    #drawer
    class="sidenav"
    mode="side"
    [opened]="!isCollapsed"
    [style.width]="isCollapsed ? '40px' : '470px'"
    [ngClass]="{ 'collapsed': isCollapsed }"
  >
    <div class="sidenav-content">
      <form>
        <mat-form-field appearance="outline">
          <mat-label>Indicator Type</mat-label>
          <mat-select
            [(ngModel)]="selectedIndicator"
            name="indicatorType"
            (ngModelChange)="onIndicatorTypeChange()"
          >
            <mat-option *ngFor="let indicator of indicatorTypes" [value]="indicator">
              {{ indicator }}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </form>

      <p class="year-range">Year Range</p>

      <mat-slider
        [min]="yearRange.min"
        [max]="yearRange.max"
        [step]="1"
        [showTickMarks]="true"
        [discrete]="true"
      >
        <input matSliderStartThumb [(ngModel)]="startYear" name="start" (ngModelChange)="onYearRangeChange()">
        <input matSliderEndThumb [(ngModel)]="endYear" name="end" (ngModelChange)="onYearRangeChange()">
      </mat-slider>

      <app-sidebar-list
        [apiType]="apiType"
        [indicatorType]="selectedIndicator"
        [startYear]="startYear"
        [endYear]="endYear">
      </app-sidebar-list>

    </div>
  </mat-drawer>

  <div class="toggle-btn-container">
    <button mat-icon-button class="toggle-btn" (click)="toggleSidebar()">
      <mat-icon>{{ isCollapsed ? 'chevron_right' : 'chevron_left' }}</mat-icon>
    </button>
  </div>
</mat-drawer-container>
