<mat-drawer-container class="container">
  <mat-drawer
    #drawer
    class="sidenav"
    mode="side"
    [opened]="!isCollapsed"
    [style.width]="isCollapsed ? '20px' : '460px'"
  >
    <div class="sidenav-content">
      <form>
        <mat-form-field appearance="outline" >
          <mat-label>Indicators</mat-label>
          <mat-select [(ngModel)]="selectedValue" name="food">
            @for (food of foods; track food) {
              <mat-option [value]="food.value">{{food.viewValue}}</mat-option>
            }
          </mat-select>
          <mat-icon matSuffix>travel_explore</mat-icon>
        </mat-form-field>

      </form>

     <p [style.display]="isCollapsed ? 'none' : 'block'">
      Years Range
    </p>
    <mat-slider min="0" max="100000" step="1000" showTickMarks discrete [displayWith]="formatLabel">
      <input matSliderStartThumb [(ngModel)]="startValue" name="start">
      <input matSliderEndThumb [(ngModel)]="endValue" name="end">
    </mat-slider>

    <app-sidebar-list></app-sidebar-list>


    </div>


  </mat-drawer>



    <button
      mat-icon-button
      class="toggle-btn"
      (click)="toggleSidebar()"
    >
      <mat-icon>{{ isCollapsed ? 'chevron_right' : 'chevron_left' }}</mat-icon>
    </button>

</mat-drawer-container>
