<div class="globe-container">
    <div class="legend">
      <div><span class="color-box" style="background: linear-gradient(to right, orange, red);"></span> Production</div>
      <div><span class="color-box" style="background: #FFD700;"></span> Gross Imports</div>
      <div><span class="color-box" style="background: #A9A9A9;"></span> Gross Exports</div>
      <div><span class="color-box" style="background: #1E90FF;"></span> Final Domestic Demand</div>
    </div>
  
    <div id="emissionGlobe" class="globe"></div>
  </div>
  