<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * The content below * * * * * * * * * * * -->
<!-- * * * * * * * * * * is only a placeholder * * * * * * * * * * -->
<!-- * * * * * * * * * * and can be replaced.  * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * Delete the template below * * * * * * * * * -->
<!-- * * * * * * * to get started with your project! * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->

<!-- <style>
  :host {
    --bright-blue: oklch(51.01% 0.274 263.83);
    --electric-violet: oklch(53.18% 0.28 296.97);
    --french-violet: oklch(47.66% 0.246 305.88);
    --vivid-pink: oklch(69.02% 0.277 332.77);
    --hot-red: oklch(61.42% 0.238 15.34);
    --orange-red: oklch(63.32% 0.24 31.68);

    --gray-900: oklch(19.37% 0.006 300.98);
    --gray-700: oklch(36.98% 0.014 302.71);
    --gray-400: oklch(70.9% 0.015 304.04);

    --red-to-pink-to-purple-vertical-gradient: linear-gradient(
      180deg,
      var(--orange-red) 0%,
      var(--vivid-pink) 50%,
      var(--electric-violet) 100%
    );

    --red-to-pink-to-purple-horizontal-gradient: linear-gradient(
      90deg,
      var(--orange-red) 0%,
      var(--vivid-pink) 50%,
      var(--electric-violet) 100%
    );

    --pill-accent: var(--bright-blue);

    font-family: "Inter", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
      Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji",
      "Segoe UI Symbol";
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }


html, body {
  margin: 0;
  padding: 0;
  overflow: hidden; /* Disable scroll on the entire page */
  height: 100%;
}

.main {
  display: flex;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}

.container {
  display: flex;
  flex: 1;
  overflow: hidden;
  
}

.content {
  flex-grow: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;

}

.sidebar {
  margin-top: 70px;
  border-right: 2px solid #ccc;
  transition: width 0.3s ease-in-out;
} 

.navbar {
  width: 100%;
  background: #333;
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1000;
  box-sizing: border-box;
}

.app-energy-globe {
  flex-grow: 1;
  height: 100%;
  transition: width 0.3s ease-in-out;
  display: flex;
  justify-content: center;
  align-items: center;
}

  @media screen and (max-width: 650px) {
    .content {
      flex-direction: column;
      width: max-content;
    }

    .divider {
      height: 1px;
      width: 100%;
      background: var(--red-to-pink-to-purple-horizontal-gradient);
      margin-block: 1.5rem;
    }
  }
</style> -->

<!-- app.component.html -->
<main class="main">
  <app-navbar (apiTypeChange)="onApiTypeChange($event)"></app-navbar>
  <!-- <router-outlet></router-outlet> -->
  <div class="container">

    <sidebar class="sidebar"
    [apiType]="apiType"
    (apiTypeChange)="onApiTypeChange($event)"
    [indicatorType]="indicatorType"
    (indicatorTypeChange)="onIndicatorTypeChange($event)"
    (yearRangeChange)="onYearRangeChange($event)"
    [selectedYear]="selectedYear"
    (selectedYearChange)="onSelectedYearChange($event)">
  </sidebar>

  <div class="content">

    <app-energy-globe *ngIf="apiType === 'renewable-energy'"
      [energyType]="indicatorType"
      [selectedYear]="selectedYear">
    </app-energy-globe>

    <app-disaster-globe *ngIf="apiType === 'climate-disasters'"
      [indicatorType]="indicatorType"
      [selectedYear]="selectedYear">
    </app-disaster-globe>

    <app-forest-globe *ngIf="apiType === 'forest-carbon'"
      [indicatorType]="indicatorType"
      [selectedYear]="selectedYear">
    </app-forest-globe>

    <app-emission-globe *ngIf="apiType === 'greenhouse-emissions'"
      [indicatorType]="indicatorType"
      [selectedYear]="selectedYear">
    </app-emission-globe>

    <app-income-globe *ngIf="apiType === 'income-loss'"
      [variableType]="indicatorType"
      [selectedYear]="selectedYear">
    </app-income-globe>
  </div>

  </div>
</main>

<router-outlet />
